<footer class="footer bg-dark py-3 mt-auto">
    <!-- paddin added to make it thicker and mt text-muted to make it lighter -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>